<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
a{text-decoration:none;}
</style>
</head>
<body style="width:100%; margin:0 auto;">
	{% include 'header.html' %}
	<div class="inner17">
		<h2>메인 화면입니다.</h2>
	</div>
	
	{% if message %}
	<script>alert('{{ message }}');</script>
	{% endif %}
   
   
</body>
</html>